<!-- <div class="album" ng-controller="mainController as album"> -->
<div class="custom-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2"></h1>
      <div class="row center">
        <h5 class="header col s12 light">
          <button ui-sref="home" id="back" class="btn waves-effect waves-light">Go Back</button>

          <h4>{{mainCtrl.thisAlbum.title}}</h4>
          <p>
            {{mainCtrl.thisAlbum.description}}
          </p>
          <h6>{{mainCtrl.thisAlbum.id}}</h6>
          <h5>Created by: {{mainCtrl.thisAlbumOwner.username}}</h5>
          <div ng-if="mainCtrl.isUser">
            <form name="myForm" ng-submit="mainCtrl.uploadPhoto(image,mainCtrl.thisAlbum.id)">
              <label>Title:</label>
              <input type="text" name="title" ng-model="title"/><br>
              <input type="file" ngf-select ng-model="image" name="image"
                       accept="'image/*'" ngf-max-size="2MB" required
                       ngf-model-invalid="errorFile"><br>
              <button class="btn waves-effect waves-light" ng-click="image = null" ng-show="image">Remove</button>
              <button class="btn waves-effect waves-light" ng-disabled="!myForm.$valid">Submit</button>
            </form>
            <hr>
            <button ui-sref="album-update" class="btn waves-effect waves-light">Edit Album</button>
            <h6 class="btn waves-effect waves-light" ng-click="mainCtrl.deleteAlbum(mainCtrl.thisAlbum)">Delete Album</h6>
         </div>
       </div>
     </div>
   </div>
  </div>
<!-- <div ng-repeat="photo in mainCtrl.thisAlbum.photos"> -->
  <!-- <h6>{{photo.title}}</h6> -->

  <div><img ng-repeat="photo in mainCtrl.thisAlbum.photos" id="albumShowCss" ng-src="{{photo.image_thumb_url}}"
    ng-click="mainCtrl.showPhoto($index)" alt="{{photo.image_file_name}}"/></div>

<!-- </div> -->
