<div class="col s12 m4">
  <div class="icon-block">
    <h2 class="center brown-text"><h2 id="signupCss">Sign Up</h2>

    <div>
      <div class="row">
        <form class="col s12" ng-submit="mainCtrl.signup(newUser)">
          <div class="row">
            <div class="input-field col s12">
              <label for="username">username</label>
              <input id="username" type="text" ng-model="newUser.username">

            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label for="password">Password</label>
              <input id="password" type="password" ng-model="newUser.password">

            </div>
          </div>


          <button class="btn waves-effect waves-light" type="submit">Sign up
            <!-- <i class="material-icons right">send</i> -->
          </button>
        </form>
      </div>
    </div>
  </div>
</div>


<!--==========** MAIN FOOTER **===========-->
<footer class="page-footer black">
  <div class="container">  
    <div class="col l6 s12">
    </div>
  </div>
</footer>
