<div class="row center">
    <a ng-if="mainCtrl.isUser" ui-sref="new-album">Create New Album</a>
   <!-- <a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'>Albums</a> -->
  <div class="" ng-repeat="album in mainCtrl.userAlbums">
    <div class="" ng-click="mainCtrl.showAlbum(album)">
      <h3>{{album.title}}</h3>
      <h5>{{album.id}}</h5>
      <p>
        {{album.description}}
      </p>
    </div>
  </div>
</div>

<!--==========** MAIN FOOTER **===========-->
<footer class="page-footer black">
  <div class="container">  
    <div class="col l6 s12">
    </div>
  </div>
</footer>
